<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title style="background-color:DodgerBlue;">IPL Matches Winner Prediction</title>
   
<style>

  @media only screen and (max-device-width: 1280px ) {
  .parallax {
    /* The image used */
    background-image: url();

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .foreground {
      backdrop-filter: blur(5px);
    }
  
  }
</style>

</head>

<body background="" class='foreground'>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">IPL Winner Prediction</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

<div class='parallax'>
<font color="Brown">
<form action="/submit" method='POST'>

<h3><br> &nbsp;&nbsp; Season :&nbsp; 
    <select id="Season" name="yr">
    <option value='2023'>2023</option>
    </select>
  </h3>

<h3> &nbsp; Home Team : 
    <select id="Team 1" name="tm1">
    <option value='2'>Chennai Super Kings</option>
    <option value='8'>Delhi Capitals</option>
    <option value='9'>Gujarat Titans</option>
    <option value='3'>Kolkata Knight Riders</option>
    <option value='10'>Lucknow Super Giants</option>
    <option value='1'>Mumbai Indians</option>
    <option value='5'>Punjab Kings</option>
    <option value='6'>Rajasthan Royals</option>
    <option value='4'>Royal Challengers Bangalore</option>
    <option value='7'>Sunrisers Hyderabad</option>
  </select></h3>

<h3> &nbsp; Away Team :
    <select id="Team 2" name="tm2">
    <option value='2'>Chennai Super Kings</option>
    <option value='8'>Delhi Capitals</option>
    <option value='9'>Gujarat Titans</option>
    <option value='3'>Kolkata Knight Riders</option>
    <option value='10'>Lucknow Super Giants</option>
    <option value='1'>Mumbai Indians</option>
    <option value='5'>Punjab Kings</option>
    <option value='6'>Rajasthan Royals</option>
    <option value='4'>Royal Challengers Bangalore</option>
    <option value='7'>Sunrisers Hyderabad</option>
  </select></h3>

<h3> &nbsp;&nbsp; City :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <select id="City" name="city">
    <!option value='0'>Abu Dhabi</option>
    <!option value='11'>Dubai</option>
    <!option value='32'>Sharjah</option>
    <option value='1'>Ahmedabad</option>
    <option value='2'>Bengaluru</option>
    <option value='6'>Chandigarh</option>
    <option value='7'>Chennai</option>
    <option value='9'>Delhi</option>
    <option value='10'>Dharamsala</option>
    <option value='14'>Guwahati</option>
    <option value='15'>Hyderabad</option>
    <option value='17'>Jaipur</option>
    <option value='22'>Kolkata</option>
    <option value='23'>Lucknow</option>
    <option value='24'>Mumbai</option>
    <!option value='26'>Navi Mumbai</option>
  </select></h3>

<h3> &nbsp;&nbsp; Toss Decision :&nbsp; 
    <select id="Toss" name="td">
    <option value=1>Field</option>
    <option value=0>Bat</option>
  </select></h3>

<h3> &nbsp;&nbsp; Toss Winner :&nbsp;
    <select id="Toss Win" name="tw">
    <option value='tm1'>Team 1</option>
    <option value='tm2'>Team 2</option>
  </select></h3>


<h3><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="submit" style="background-color:Purple;color:Pink">
    <strong>&nbsp;Click here for Prediction !&nbsp;</strong>
  </button></h3>
<br>
</div>
</form>
</font>
</body>

<footer>
  <p><br><br>&nbsp;Copyright © 2023 "ipl winner prediction" Website. All rights reserved by Abhinava.
    <div class="hit counter">
    &nbsp;Page visited:
    <!-- hitwebcounter Code START -->
    <a href="https://www.hitwebcounter.com" target="_blank">
    <img src="https://hitwebcounter.com/counter/counter.php?page=8481177&style=0006&nbdigits=4&type=page&initCount=0000" title="Free Counter" Alt="web counter"   border="0" /></a>  
    &nbsp;&nbsp;&nbsp;User count:
    <!-- hitwebcounter Code START -->
    <a href="https://www.hitwebcounter.com" target="_blank">
    <img src="https://hitwebcounter.com/counter/counter.php?page=8481180&style=0006&nbdigits=4&type=ip&initCount=0000" title="Free Counter" Alt="web counter"   border="0" /></a>       
  </div> 
  </p>
</footer>

</html>
